.formSection {
  border-radius: 30px;
  background: var(--black-background);
  padding: 20px;
}

.logoText {
  display: none;
}

@media screen and (min-width: 768px) {
  .formSection {
    width: 704px;
    height: 960px;
  }
  .logoText {
    display: inline-block;
  }
}

@media screen and (min-width: 1440px) {
  .formSection {
    width: 600px;
    height: 736px;
  }
}
