.book {
  width: 137px;
  height: 248px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
}

.bookImage {
  height: 208px;
  border-radius: 8px;
}

.bookWrapperText {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.bookTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

.bookText {
  color: var(--gray-dark);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.2px;
}
