.book {
  width: 137px;
  height: 248px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
}

.bookImage {
  height: 208px;
  border-radius: 8px;
  cursor: pointer;
}

.bookWrapperText {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.bookTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

.bookText {
  color: var(--gray-dark);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.2px;
}

.wrapperContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.deleteButton {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  color: var(--red-button);
  border-radius: 50%;
  background-color: rgba(232, 80, 80, 0.1);
  border: 1px solid rgba(232, 80, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--Animation_cubic);
}

.deleteButton:hover {
  color: var(--red);
  border-color: var(--red);
}

.iconDelete {
  stroke: currentColor;
  fill: none;
}
